:root {
    /* --secondary: hsl(297, 100%, 11%);
    --primary: hsl(317, 40%, 16%);
    --sea-blue: hsl(306, 98%, 16%);
    --sea-blue: hsl(220, 24%, 24%);
    --white: hsl(194, 11%, 78%); */

    --primary: #222831;
    --secondary: #393E46;
    --sea-blue: #00ADB5;
    --white: hsl(0, 10%, 53%);
}

h2 {
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom: 2px solid var(--white);
    border-radius: 100%;
    border-color: var(--sea-blue);
    margin: 0;
    padding: 0;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 3px solid var(--secondary);
    border-radius: 50%;
    border-top-color: var(--sea-blue);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin-top: 3rem;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.quote__div {
    text-align: center;
    margin: 2rem 0 2rem 0;
    margin-inline: 4rem;
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 100;
    color: var(--white);
    box-shadow: 0 0 10px 0 var(--white);
}

.quote {
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem;
    padding: 1rem;
}

.quote__author {
    font-size: 1rem;
    font-weight: 100;
    color: var(--white);
    margin: 1rem;
    text-align: right;
}

@media (max-width: 50em) {
    .quote__div {
        font-size: 1rem;
        margin-inline: 2rem;
    }

    .quote__author {
        font-size: 0.8rem;
    }
}