:root {
    --secondary: #393E46;
    --primary: #222831;
    --sea-blue: #00ADB5;
    --white: #EEEEEE;
}

h3 {
    text-align: center;
}

.enquiry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 2rem;
    margin-inline: 5rem;
    border-radius: 1rem;
    color: var(--white);
    box-shadow: 0 0 0.3rem 0.1rem var(--white);
}

.name,
.contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    border: 2px solid var(--white);
    background-color: var(--secondary);
    border-radius: .2rem;
    width: 25rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: .5em;
    text-align: center;
    color: var(--white);
}

.message {
    border: 2px solid var(--white);
    background-color: var(--secondary);
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    width: 30rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: .5em;
    resize: none;
}

.name::placeholder,
.contact::placeholder,
.message::placeholder {
    font-size: 1.2rem;
    text-align: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
}

.checkbox input {
    border: 2px solid red;
    width: 1rem;
    height: 1rem;
}

.submit {
    border: 2px solid var(--white);
    background-color: var(--secondary);
    color: var(--white);
    border-radius: .5rem;
    width: 10rem;
    height: 2rem;
    margin: 2rem 0 0rem 0;
    border-radius: .5em;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    border: 2px solid var(--sea-blue);
    box-shadow: 0 0 0.5rem 0.1rem var(--sea-blue);
}

@media screen and (max-width: 50em) {

    .name,
    .contact {
        width: 10rem;
    }

    .message {
        width: 12rem;
    }

    .submit {
        font-size: .8rem;
        margin-top: 1rem;
        width: 8rem;
    }

    .checkbox {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .checkbox input {
        margin: .1rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
    }

    .checkbox label {
        font-size: 1rem;
        margin-left: 3rem;
    }

    .container {
        font-size: .5rem;
    }
}